.coding-pic {
    float: right;
}

.dividng-hr {
    border-width: 2px;
    border-top-color: #7d97ad;
}

body {
    padding-bottom: 40px;
    color: #2d3c49;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
}

a:link {
    color: #2d3c49;
}

.name {
    font-weight: 500;
}

header{
    padding-top: 5px;
    font-style: italic;
    font-weight: bold;
}

.heading-hr {
    border-width: 2px;
    border-top-color: #7d97ad;
}

.job {
    font-style: italic;
}